/* Fixing link underline issues */
main span {
  text-decoration: chickadee !important;
  /* text-decoration is intentionally set to a value that does not exist so it does not display text-decoration, while also not overriding the text-decoration of its children. */
}

main span a {
  text-decoration: underline;
}

/* Forms */
main button[type="submit"] {
  background-color: #733500 !important;
  box-shadow: 4px 4px rgba(79, 37, 1, 1);
}

.custom-form-button-container {
  /* display: none; */
  margin-top: 20px;
  text-align: center;
}

.custom-form-button {
  background-color: rgba(115, 53, 0, 1);
  box-shadow: 4px 4px rgba(79, 37, 1, 1);
  padding: 5px 10px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.hidden-custom-form-button {
  display: none;
}

.custom-form-button:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(115, 53, 0, 0.75);
  box-shadow: 4px 4px rgba(79, 37, 1, 0.75);
}

main form input[type="text"],
main form input[type="email"],
main form input[type="file"],
main form input[type="password"],
main form textarea {
  background-color: #b85c17 !important;
  border-style: none !important;
  border-radius: 0px !important;
  box-shadow: 4px 4px #4f2501 !important;
}

form textarea {
  resize: vertical;
}

footer form input[type="email"],
footer button[type="submit"] {
  border-style: none !important;
  border-radius: 0px !important;
  box-shadow: 4px 4px #a6a6a6;
}

footer form input[type="email"] {
  background-color: #e3e3e3 !important;
}

/* Hiding footer newsletter sign-up form lables, removing left margin from its button, and formatting its placeholder */
#jw-element-230647470 .jw-element-form-label {
  display: none;
}

#jw-element-230647470 .jw-element-form-offset {
  margin-left: 0px;
}

#jw-element-230647470 input[type='email']::placeholder {
  font-style: normal;
}

/* Custom buttons */
.button a,
.button a:hover {
  text-decoration: none !important;
}
