/* Fixing link underline issues */
main span {
  text-decoration: chickadee !important;
  /* text-decoration is intentionally set to a value that does not exist so it does not display text-decoration, while also not overriding the text-decoration of its children. */
}

main span a {
  text-decoration: underline;
}

/* Forms */
main .jw-form-container button[type="submit"] {
  background-color: #733500 !important;
  box-shadow: 4px 4px rgba(79, 37, 1, 1);
}

.custom-form-button-container {
  /* display: none; */
  margin-top: 20px;
  text-align: center;
}

.custom-form-button {
  background-color: rgba(115, 53, 0, 1);
  box-shadow: 4px 4px rgba(79, 37, 1, 1);
  padding: 5px 10px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.hidden-custom-form-button {
  display: none;
}

.custom-form-button:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(115, 53, 0, 0.75);
  box-shadow: 4px 4px rgba(79, 37, 1, 0.75);
}

main .jw-form-container input[type="text"],
main .jw-form-container input[type="email"],
main .jw-form-container input[type="file"],
main .jw-form-container input[type="password"],
main .jw-form-container textarea {
  background-color: #b85c17 !important;
  border-style: none !important;
  border-radius: 0px !important;
  box-shadow: 4px 4px #4f2501 !important;
}

form textarea {
  resize: vertical;
}

footer .jw-form-container input[type="email"],
footer .jw-form-container button[type="submit"] {
  border-style: none !important;
  border-radius: 0px !important;
  box-shadow: 4px 4px #a6a6a6 !important;
}

footer .jw-form-container input[type="email"] {
  background-color: #e3e3e3 !important;
  color: black;
}

/* Hiding footer newsletter sign-up form lables, removing left margin from its button, and formatting its placeholder */
#jw-element-230647470 .jw-element-form-label {
  display: none;
}

footer .jw-form-container .jw-element-form-offset {
  margin-left: 0px;
}

footer .jw-form-container input[type='email']::placeholder {
  font-style: normal;
  color: #999999;
}

.footer-search-container form {
  display: flex;
  flex-wrap: nowrap;
}

.footer-search-container {
  box-shadow: 4px 4px #a6a6a6;
  background-color: transparent;
  border-radius: 0;
}

/* Footer search bar */
.footer-search-input {
  line-height: 8px;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  border: none;
  border-right: none;
  outline: none;
  border-radius: 0;
  background-color: #e3e3e3;
}

.footer-search-button {
  height: 36px;
  width: 40px;
  padding: 9px 10px 11px 10px;
  background-color: #000000;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.footer-search-button:hover {
  background-color: #323232;
}

/* Custom buttons */
.button a,
.button a:hover {
  text-decoration: none !important;
}
