/* Fixing link underline issues */
main span {
  text-decoration: chickadee !important;
  /* text-decoration is intentionally set to a value that does not exist so it does not display text-decoration, while also not overriding the text-decoration of its children. */
}

main span a {
  text-decoration: underline;
}

/* Forms */
main .jw-form-container button[type="submit"] {
  background-color: #733500 !important;
  box-shadow: 4px 4px rgba(79, 37, 1, 1);
}

.custom-form-button-container {
  /* display: none; */
  margin-top: 20px;
  text-align: center;
}

.custom-form-button {
  background-color: rgba(115, 53, 0, 1);
  box-shadow: 4px 4px rgba(79, 37, 1, 1);
  padding: 5px 10px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.hidden-custom-form-button {
  display: none;
}

.custom-form-button:hover {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(115, 53, 0, 0.75);
  box-shadow: 4px 4px rgba(79, 37, 1, 0.75);
}

main .jw-form-container input[type="text"],
main .jw-form-container input[type="email"],
main .jw-form-container input[type="file"],
main .jw-form-container input[type="password"],
main .jw-form-container textarea {
  background-color: #b85c17 !important;
  border-style: none !important;
  border-radius: 0px !important;
  box-shadow: 4px 4px #4f2501 !important;
}

form textarea {
  resize: vertical;
}

footer .jw-form-container input[type="email"],
footer .jw-form-container button[type="submit"] {
  border-style: none !important;
  border-radius: 0px !important;
  box-shadow: 4px 4px #a6a6a6 !important;
}

footer .jw-form-container input[type="email"] {
  background-color: #e3e3e3 !important;
  color: black;
}

/* Footer */
/* - Hiding footer newsletter sign-up form lables, removing left margin from its button, and formatting its placeholder */
#jw-element-230647470 .jw-element-form-label {
  display: none;
}

footer .jw-form-container .jw-element-form-offset {
  margin-left: 0px;
}

footer .jw-form-container input[type='email']::placeholder {
  font-style: normal;
  color: #999999;
}

.footer-search-container form {
  display: flex;
  flex-wrap: nowrap;
}

.footer-search-container {
  box-shadow: 4px 4px #a6a6a6;
  background-color: transparent;
  border-radius: 0;
}

/* - Search bar */
.footer-search-input {
  line-height: 8px;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  border: none;
  border-right: none;
  outline: none;
  border-radius: 0;
  background-color: #e3e3e3;
}

.footer-search-button {
  height: 36px;
  width: 40px;
  padding: 9px 10px 11px 10px;
  background-color: #000000;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.footer-search-button:hover {
  background-color: #323232;
}

/* - Sitemap and copyright */
.sitemap {
  display: flex;
}

.section {
  flex-grow: 1;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
  color: #757575;
}

.links {
  width: 26.667%;
}

.footer-logo {
  width: 20%;
}

.sitemap .jw-element-accordion__item {
  border-bottom: none !important;
}

.sitemap summary {
  /*text-decoration: underline;*/
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sitemap details[open] summary {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
}

.sitemap .jw-element-accordion__icon {
  right: 0.1rem !important;
}

.sitemap .jw-element-accordion__content {
  white-space: normal;
}

.logo {
  width: 82%;
}

.sitemap:last-child {
  margin-right: 0px;
}

.links a,
.links summary span {
  /*text-decoration: none !important;
  border-bottom: solid 1.6px #757575;*/
  text-decoration: underline #757575;
}

.links a:hover,
.links summary span:hover {
  /*border-bottom-color: #8f8f8f;
  text-decoration: none !important; */
  text-decoration-color: #8f8f8f;
}

.links span:hover {
  color: #8f8f8f;
}

.accordian-arrow-button {
  filter: brightness(0) saturate(100%) invert(46%) sepia(0%) saturate(15%) hue-rotate(184deg) brightness(99%) contrast(97%);
  min-width: 8pt;
  max-width: 8pt !important;!i;!;!i;!;
  min-height: 4.8512pt;
  max-height: 4.8512pt;
  
  !i;!;
  margin: 0 0.8rem;
  !i;!;
  transition: transform 0.25s ease;
  pointer-events: none;
  vertical-align: middle;
}

details[open] .accordian-arrow-button {
  transform: rotate(180deg);
  margin-bottom: auto;
  margin-top: 1.2rem;
}

.section ul {
  list-style-type: "- ";
  list-style-position: outside;
}

.sitemap summary span {
  max-width: calc(100% - 1.6rem - 8pt);
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyright {
  font-size: 15px;
}
/* Short main menu support link */
a[data-link-id="23525872"] {
  display: none;
}

/* “More” submenu support link */
a[data-link-id="23525905"] {
  display: none;
}

@media (max-width: 1141px) and (min-width: 800px) {
  /* Long main menu support link */
  a[data-link-id="18206066"] {
    display: none;
  }
}

@media (max-width: 1141px) and (min-width: 1041px) {
  /* Short main menu support link */
  a[data-link-id="23525872"] {
    display: block;
  }
}

@media (max-width: 1042px) and (min-width: 800px) {
  /* “More” submenu support link */
  a[data-link-id="23525905"] {
    display: block;
  }
}

@media (max-width: 900px) and (min-width: 800px) {
  /* Homepage link */
  #jw-menu li:first-of-type {
    display: none;
  }
}

@media (min-width: 769px) {
   .sitemap summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .sitemap {
    display: block;
    line-height: 2.4;
  }

  .section {
    flex-grow: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    overflow: auto;
  }

  .logo {
    width: 38%;
    padding-left: 31%;
    padding-right: 31%;
    margin-bottom: 10px;
  }

  .sitemap summary {
    margin-left: calc(0.8rem + 42pt);
  }

  .sitemap .jw-element-accordion__content {
    margin-left: -1rem;
  }

  .section ul {
    list-style-position: inside;
  }

  details[open] .accordian-arrow-button {
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  .copyright {
    font-size: 12px;
  }
}

/* Custom buttons */
.button a,
.button a:hover {
  text-decoration: none !important;
}

.kap-h2 {
  font-size: 2.5rem !important;
  margin-top: 0.8em;
  margin-bottom: 0.3em;
  line-height: 1.25;
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
}

.kap-h2 a,
.kap-h2 a:hover,
.kap-h2:hover a,
.kap-h2:hover a:hover {
  color: inherit !important;
  text-decoration: inherit !important;
  text-decoration-color: inherit !important;
}

@media (max-width: 768px) {
  .kap-h2 {
    font-size: 2.1rem !important;
  }
}

/* Show listings */

.show {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding: 12px;
  width: calc(100% - 24px);
  transition-property: box-shadow;
  transition-duration: 150ms;
}

.show::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.6) 100%);
}

.show-text {
  position: relative;
  color: #ffffff !important;
  z-index: 1;
}

.show-name {
  color: #ffffff !important;
}

.show-subtitle,
.show-subtitle:hover {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: transparent !important;
}

.show-acronym,
.show-subtitle {
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  .show-acronym,
  .show-subtitle {
    font-size: 1.43rem;
  }
}

.show * {
  text-decoration: underline !important;
  text-decoration-color: transparent !important;
}

.show:hover {
  box-shadow: 2px 2px 6px -1px #000000;
}

.show:hover,
.show:hover *,
.show *:hover,
.show:hover *:hover,
a:has(.show:hover),
a:has(.show *:hover),
a:has(.show:hover *:hover) {
  text-decoration: underline !important;
  text-decoration-color: transparent !important;
}

/* Descriptions */
.description-container {
  background-color: #e3731f;
  padding: 15px;
  box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.5), -1px -1px 12px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.description-outline {
  text-align: center;
  border: 2px solid #000000;
  padding: 7px;
}

.description {
  border: 2px solid #000000;
  padding: 35px 15px;
  color: black !important;
  text-align: center;
  margin: 0 !important;
}
