.ka-audio-player {
  display: flex;
  background-color: #616161;
  background-image: linear-gradient(to bottom right, #616161, #7d7d7d);
  padding: 5px;
  border: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 1px;
  height: 25px;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-between;
}

.custom-slider {
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 50px;
  height: 12px;
  overflow: hidden;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 5px;
  border-radius: 0px;
  background: gray;
  cursor: col-resize;
  margin-top: 0px;
  box-shadow: -1000px 0px 0px 1000px #000000;
}

.custom-slider::-webkit-slider-runnable-track {
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: #cfcfcf;
  border-radius: 50px;
}

.time {
  display: flex;
  justify-content: space-between;
  width: 39px;
  font-size: 14px;
}

.mins {
  flex: 1;
  text-align: left;
}

.secs {
  flex: 1;
  text-align: right;
}

.icon {
  pointer-events: none;
}

#show-notes a {
  text-decoration: underline;
}

.button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: black;
}

.pause-play img {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
}

.fast-one,
.slow-one,
.normal-one {
  font-size: 12px;
}

.unmute-one {
  margin-right: 6px;
}

.unmute-one img {
  width: 11px;
  min-width: 11px;
  max-width: 11px;
}

.mute-one img {
  width: 15px;
  min-width: 15px;
  max-width: 15px;
}

.playback-speed {
  border: solid;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  border-width: 1px;
  border-radius: 1000px;
  text-align: center;
}

.mute-icon {
  margin-bottom: -2px;
  margin-left: 2px;
}

.buttons,
.seek-bar-one,
.volume-slider-one,
.minus-sign {
  display: inline-block;
}

.seek-bar-one {
  width: 580px;
}

.volume-slider-one {
  width: 170px;
  flex-shrink: 1;
}

@media (max-width: 1000px) {
  .seek-bar-one {
    flex-shrink: 10;
    min-width: 40px;
  }

  .volume-slider-one {
    display: none;
  }
}

@media (max-width: 400px) {
  .playback-speed {
    display: none;
  }
}

#podcast-episode {
  border-radius: 8px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 40);
  padding: 10px;
  background-color: #f57c22;
}

#episode-art,
#details-and-player,
#episode-buttons {
  display: inline-block;
  vertical-align: top;
}

#episode-art {
  border-radius: 8px;
  width: 170px;
}

.episode-art {
  border-radius: 8px;
  width: 100%;
}

#details-and-player {
  width: calc(100% - 401.75px);
  margin: 0px 19px;
}

#episode-title {
  margin-top: -15px;
  display: block !important;
}

#show-notes {
  margin-bottom: 20px;
  display: block !important;
}

.middle {
  margin-top: 20px;
  margin-bottom: 20px;
}

#episode-buttons {
  width: 184.25px;
}

.episode-button {
  white-space: nowrap;
  overflow: hidden;
  display: block !important;
  color: white;
  background-color: #733500;
  font-size: 1em;
  padding: .3em .9em;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #733500;
  border-radius: 1000px;
  overflow: visible;
  fill: white;
}

.unlinked-button,
.unlinked-button:hover {
  background-color: gray !important;
  border-color: gray !important;
  pointer-events: none;
}

.button a[href=""] {
  pointer-events: none;
}

.episode-button:hover {
  background-color: #914300;
  border-color: #914300;
}

.episode-button-icon-container {
  margin-right: 0.3em;
  padding-left: 1.2em;
  position: relative;
}

.episode-button-icon-container svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.button a,
.button a:hover {
  text-decoration: none !important;
}

@media (max-width: 1000px) {
  #show-notes {
    margin-bottom: 25px;
  }
}

@media (max-width: 800px) {
  #episode-buttons {
    display: none;
  }

  #details-and-player {
    width: calc(100% - 197.5px);
    margin-left: 19px;
    margin-right: 0px;
  }

  #show-notes {
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {

  #episode-art,
  #details-and-player {
    display: block;
    margin: 0px;
  }

  #show-notes {
    margin-bottom: 20px;
  }

  #episode-art {
    width: 100%;
  }

  #details-and-player {
    width: 100%;
  }
}
