/* Episode listing */
#podcast-episode {
  border-radius: 8px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 40);
  padding: 10px;
  background-color: #f57c22;
}

/* - Cover art */
#episode-art,
#details-and-player,
#episode-buttons {
  display: inline-block;
  vertical-align: top;
}

#episode-art {
  border-radius: 8px;
  width: 170px;
}

.episode-art {
  border-radius: 8px;
  width: 100%;
}

/* - Details and audio player */
#episode-title {
  margin-top: -15px;
  display: block !important;
}

#show-notes {
  margin-bottom: 23.8px;
  display: block !important;
}

#show-notes a,
#show-notes-container a,
.transcript a {
  text-decoration: underline;
}

#details-and-player {
  width: calc(100% - 401.75px);
  margin: 0px 19px;
}

.ka-audio-player {
  display: flex;
  background-color: #616161;
  background-image: linear-gradient(to bottom right, #616161, #7d7d7d);
  padding: 5px;
  border: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 1px;
  height: 25px;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-between;
}

/* * - Time displays */
.time {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.current-time {
  width: 37px;
}

.remaining-time {
  width: 39px;
}

.mins {
  flex: 1;
  text-align: left;
}

.secs {
  flex: 1;
  text-align: right;
}

/* * - Buttons */
.ka-audio-player .icon {
  pointer-events: none;
}

.ka-audio-player .button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: black;
}

.pause-play img {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
}

.fast,
.slow,
.normal {
  font-size: 12px;
}

.unmute {
  margin-right: 6px;
}

.unmute img {
  width: 11px;
  min-width: 11px;
  max-width: 11px;
}

.mute img {
  width: 15px;
  min-width: 15px;
  max-width: 15px;
}

.playback-speed {
  border: solid;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  border-width: 1px;
  border-radius: 1000px;
  text-align: center;
}

.mute-icon {
  margin-bottom: -2px;
  margin-left: 2px;
}

.ka-audio-player .buttons,
.seek-bar,
.volume-slider {
  display: inline-block;
}

@media (max-width: 400px) {
  .playback-speed {
    display: none;
  }
}

/* * - Sliders */
.custom-slider {
  appearance: none;
  height: 12px;
  border-radius: 50px;
  background: #cfcfcf;
  cursor: pointer;
  overflow: hidden;
}

.custom-slider:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* * * - Slider thumb | Chrome, Safari, Edge */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 12px;
  background: #808080;
  cursor: -webkit-grab;
  box-shadow: -100vw 0 0 100vw #000;
}

.custom-slider::-webkit-slider-thumb:active {
  background: #a0a0a0;
  cursor: -webkit-grabbing;
}

/* * * - Slider thumb | Firefox */
.custom-slider::-moz-range-thumb {
  border: none;
  border-radius: 0;
  width: 5px;
  height: 12px;
  background: #808080;
  cursor: grab;
  box-shadow: -100vw 0 0 100vw #000;
}

.custom-slider::-moz-range-thumb:active {
  background: #a0a0a0;
  cursor: grabbing;
}

/* * * - Widths */
.seek-bar {
  width: 580px;
}

.volume-slider {
  width: 170px;
  flex-shrink: 1;
}

@media (max-width: 1000px) {
  .seek-bar {
    flex-shrink: 10;
    min-width: 40px;
  }

  .volume-slider {
    display: none;
  }
}

/* - Buttons */
#episode-buttons {
  width: 184.25px;
}

.episode-button {
  white-space: nowrap;
  overflow: hidden;
  display: block !important;
  color: white;
  background-color: #733500;
  font-size: 1em;
  padding: .3em .9em;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #733500;
  border-radius: 1000px;
  overflow: visible;
  fill: white;
}

.episode-button:hover {
  background-color: #914300;
  border-color: #914300;
}

.episode-button-icon-container {
  margin-right: 0.5em;
  padding-left: 1.2em;
  position: relative;
}

.episode-button-icon-container svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.middle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.unlinked-button,
.unlinked-button:hover {
  background-color: gray !important;
  border-color: gray !important;
  pointer-events: none;
}

/* - Responsiveness */
@media (max-width: 1000px) {
  #show-notes {
    margin-bottom: 25px;
  }
}

@media (max-width: 800px) {
  #episode-buttons {
    display: none;
  }

  #details-and-player {
    width: calc(100% - 197.5px);
    margin-left: 19px;
    margin-right: 0px;
  }

  #show-notes {
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
  #episode-art,
  #details-and-player {
    display: block;
    margin: 0px;
  }

  #show-notes {
    margin-bottom: 20px;
  }

  #episode-art {
    width: 100%;
    margin-bottom: 10px;
  }

  #details-and-player {
    width: 100%;
  }
}

/* Episode pages */
/* - Episode info */
.info-table td {
  width: 50%;
  vertical-align: top;
}

.info-table td:nth-child(odd) {
  padding-right: 5px;
}

.info-table td:nth-child(even) {
  padding-left: 5px;
}

/* * - Cover art */
.info-table #art {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* * - Show notes */
#show-notes-container {
  border-radius: 8px;
  padding: 18px;
  background-color: #f57c22;
  box-shadow: 1px 1.5px 6px 1px rgba(79, 37, 1, 1), -1px 1.5px 6px 1px rgba(79, 37, 1, 1);
}

#show-notes-container hr,
#show-notes hr {
  margin: 20px 0px;
  color: black;
  background-color: black;
  height: 1.5px;
  border-width: 0;
}

/* - Transcripts */
cite {
  font-style: normal;
  font-weight: bold;
}

time {
  color: #999999;
}
